<div class="col-md-12">
<h1>Hi {{currentUserToken.userName}}!</h1>
<div>
    <data-table id="transactions-grid"
        headerTitle="Transactions"
        [items]="items"
        [itemCount]="itemCount"
        (reload)="reloadItems($event)"

        (rowClick)="rowClick($event)"
        (rowDoubleClick)="rowDoubleClick($event)"
        [rowTooltip]="rowTooltip"
        >
        <data-table-column
            [property]="'description'"
            [header]="'Description'"
            [sortable]="true"
            [resizable]="true">
        </data-table-column>
        <data-table-column
            [property]="'transactionDate'"
            [header]="'TransactionDate'"
            [sortable]="true">
            <template #dataTableCell let-item="item">
                <span>{{item.transactionDate | date:'yyyy-MM-dd'}}</span>
            </template>
        </data-table-column>
        <data-table-column
            property="amount"
            header="Amount"
            [sortable]="true">
        </data-table-column>
        <data-table-column
            property="accountId"
            header="AccountId">
        </data-table-column>
        <data-table-column
            property="categoryId"
            header="CategoryId">
        </data-table-column>
        <data-table-column
            property="periodId"
            header="PeriodId">
        </data-table-column>
    </data-table>
</div>    <p><a [routerLink]="['/login']">Logout</a></p>
</div>